<%- contentFor("section") %>

<h1>THIS IS PRODUCTS VIEW</h1>
<h2>Products List</h2>
<div id="products-list">
  <% products.forEach((product)=>{%>
  <div class="product-holder" data-id="<%= product.id%>">
    <div>
      <span class="product-holder-span"
        >Name:
        <span class="product-name" data-target="name"
          ><%= product.name %></span
        ></span
      >
      <span class="product-holder-span"
        >Quantity:
        <span class="product-quantity" data-target="quantity"
          ><%= product.quantity %></span
        ></span
      >
      <span class="product-holder-span"
        >Category:
        <span class="product-category" data-target="category"
          ><%= product.category ? product.category.name : "NULL" %></span
        ></span
      >
    </div>
    <div>
      <button class="products-button" id="update">💾</button>
      <button class="products-button" id="delete">❌</button>
    </div>
  </div>
  <% })%>
</div>

<h2>Add/Update Products</h2>
<form id="products-form" action="/products/create" method="POST">
  <div class="input-group">
    <label for="name">Product Name</label>
    <input required type="text" name="name" id="name" />
  </div>
  <div class="input-group">
    <label for="quantity">Quantity</label>
    <input required type="text" name="quantity" id="quantity" />
  </div>
  <div class="input-group">
    <label for="category">Category</label>
    <select required type="text" name="category" id="category">
      <% categories.forEach(function(category){%>
      <option value="<%=category.id%>"><%=category.name%></option>
      <%})%>
    </select>
  </div>
  <button type="submit" id="submit-form" value="">Save product</button>
</form>
