<%- contentFor("section") %>

<h1>Products</h1>
<div id="products-wrapper">
  <div class="left-nav">
    <div class="category-list">
      <a href="/admin/products/add">➕ Add new product</a>
      <% categories.forEach(function(category){%>
      <a href="/admin/products/category/<%= category.id %>">
        <%= category.name %>
      </a>
      <%})%>
    </div>
  </div>
  <% if(typeof products !== "undefined" ){ %>
  <div id="products-list">
    <% products.forEach((product)=>{%>
    <div class="product-holder" data-id="<%= product.id%>">
      <img height="150" src="/images/products/<%= product.images &&
      product.images[0] ? product.id + "/" + product.images[0] :
      "default.jpg"%>" alt="">
      <hr />
      <div>
        <span class="product-name" data-target="name"><%= product.name %></span>
        <span class="product-holder-span"
          >Quantity:
          <span class="product-quantity" data-target="quantity"
            ><%= product.quantity %></span
          ></span
        >
        <span class="product-holder-span"
          >Description:
          <span class="product-description" data-target="description"
            ><%= product.description ? product.description : "NULL" %></span
          ></span
        >
        <!-- <span class="product-holder-span"
          >Category:
          <span class="product-category" data-target="category"
            ><%= product.category ? product.category.name : "NULL" %></span
          ></span
        > -->
      </div>
      <div>
        <a href="/admin/products/<%= product.name %>">See product</a>
        <!-- <button class="products-button" id="update">💾</button>
        <button class="products-button" id="delete">❌</button> -->
      </div>
    </div>

    <% })%>
  </div>
  <% } %>
</div>
